<div class="divClass">
    <accordion>
       <accordion-group heading="MOCKARU" [isOpen]="isFirstOpen" [panelClass]="customClass">
        <p>PETICIÓN</p>  
        <p>Este producto cobra intereses que superan la tasa de usura     </p>     
        <accordion>
         <accordion-group heading="CLIENTES" [isOpen]="isFirstOpen" [panelClass]="customClass">
            
            <p>CLIENTES</p>   
        </accordion-group>
    </accordion>
       </accordion-group>
     </accordion>
    </div>