<h1>{{pqrText}}</h1>
<ngb-tabset type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle><b>Clientes</b> ({{clientCollection.length}})</ng-template>
        <ng-template ngbTabContent>
            <table st-table="clientCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Celular</th>
                        <th>Correo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of clientCollection" (click)="showFinancialInfo(row.identificacion)">
                        <td>{{row.nombre}}</td>
                        <td>{{row.identificacion}}</td>
                        <td>{{row.telefono}}</td>
                        <td>{{row.email}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>