<h1>{{client.name}}</h1>

<ngb-tabset type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle><b>PQR Cliente</b></ng-template>
        <ng-template ngbTabContent>
            <table st-table="clientCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo de Radicado</th>
                        <th>Radicado</th>
                        <th>Fecha de radicación</th>
                        <th>Tipo de producto</th>
                        <th>Contrato</th>
                        <th>Descripción del caso</th>
                        <th>Area responsable</th>
                        <th>Fecha de solución</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of clientCollection">
                        <td>{{row.TIPO_RADICACION}}</td>
                        <td>{{row.NUMERO_RADICACION}}</td>
                        <td>{{row.FECHA_RADICACION}}</td>
                        <td>{{row.TIPO_PRODUCTO}}</td>
                        <td>{{row.CONTRATO}}</td>
                        <td>{{row.DESCRIPCION_CASO}}</td>
                        <td>{{row.AREA_RESPONSABLE}}</td>
                        <td>{{row.FECHA_SOLUCION}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
</ngb-tabset>