<div class="divClass">
  <accordion>
    <accordion-group heading="MOCKARU" [isOpen]="isFirstOpen" [panelClass]="customClass">
      <h1>{{product.name}}</h1>
      <ul>
        <li>Peticiones: {{product.peticiones}}</li>
        <li>Quejas: {{product.quejas}}</li>
        <li>Reclamos: {{product.reclamos}}</li>
      </ul>

      <h2>Peticiones</h2>

      <table st-table="pqrCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Cantidad Registros</th>
            <th>Cantidad Clientes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of pqrCollection">
            <td>{{row.descripcionCaso}}</td>
            <td>{{row.cantidadQuejas}}</td>
            <td>{{row.cantidadClientes}}</td>
          </tr>
        </tbody>
      </table>

      <h2>Quejas</h2>

      <table st-table="pqrCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Cantidad Registros</th>
            <th>Cantidad Clientes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of pqrCollection">
            <td>{{row.descripcionCaso}}</td>
            <td>{{row.cantidadQuejas}}</td>
            <td>{{row.cantidadClientes}}</td>
          </tr>
        </tbody>
      </table>


      <h2>Reclamos</h2>
      <table st-table="pqrCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Cantidad Registros</th>
            <th>Cantidad Clientes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of pqrCollection">
            <td>{{row.descripcionCaso}}</td>
            <td>{{row.cantidadQuejas}}</td>
            <td>{{row.cantidadClientes}}</td>
          </tr>
        </tbody>
      </table>


    </accordion-group>
  </accordion>
</div>
