<h1>
    {{product.name}}</h1>

<ngb-tabset type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle><b>Peticiones</b> ({{product.peticiones}})</ng-template>
        <ng-template ngbTabContent>
            <table st-table="pqrCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad peticiones</th>
                        <th>Cantidad clientes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of pqrCollection | pqrFilter:{tipoRadicacion:'P'}">
                        <td (click)="showComplaint(row.descripcionCaso)">{{row.descripcionCaso}}</td>
                        <td>{{row.cantidadQuejas}}</td>
                        <td>{{row.cantidadClientes}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle><b>Quejas</b> ({{product.quejas}})</ng-template>
        <ng-template ngbTabContent>
            <table st-table="pqrCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad quejas</th>
                        <th>Cantidad clientes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of pqrCollection | pqrFilter:{tipoRadicacion:'Q'}">
                        <td (click)="showComplaint(row.descripcionCaso)">{{row.descripcionCaso}}</td>
                        <td>{{row.cantidadQuejas}}</td>
                        <td>{{row.cantidadClientes}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle><b>Reclamos</b> ({{product.reclamos}})</ng-template>
        <ng-template ngbTabContent>
            <table st-table="pqrCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Cantidad reclamos</th>
                        <th>Cantidad clientes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of pqrCollection | pqrFilter:{tipoRadicacion:'R'}">
                        <td (click)="showComplaint(row.descripcionCaso)">{{row.descripcionCaso}}</td>
                        <td>{{row.cantidadQuejas}}</td>
                        <td>{{row.cantidadClientes}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>

</ngb-tabset>