<ngb-tabset type="pills">
    <ngb-tab>
        <ng-template ngbTabTitle><b>Consultar PQR</b> </ng-template>
        <ng-template ngbTabContent>
            <google-chart #chart [title]="title" [type]="type" [data]="data" (select)="onSelect($event)" [width]="600" [height]="400">
            </google-chart>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle><b>Consultar clientes</b> </ng-template>
        <ng-template ngbTabContent>
            <div class="flex-grid">
                <div class="col">
                    Productos
                </div>
                <div class="col">
                    <mv-slider [(value)]="weightProduct" [min]="0" [max]="100" [enabled]="enabled"></mv-slider>
                </div>
                <div class="col">{{weightProduct}}
                </div>
                <div class="col">
                    Canales
                </div>
                <div class="col">
                    <mv-slider [(value)]="weightChannel" [min]="0" [max]="100" [enabled]="enabled"></mv-slider>
                </div>
                <div class="col">{{weightChannel}}
                </div>

                <div class="col">
                    Monto
                </div>
                <div class="col">
                    <mv-slider [(value)]="weightAmount" [min]="0" [max]="100" [enabled]="enabled"></mv-slider>
                </div>
                <div class="col">{{weightAmount}}
                </div>
            </div>
            <div class="flex-grid">
                <div class="col">
                    <button (click)="weighing(weightProduct,weightChannel,weightAmount)">Filtrar</button>
                </div>
            </div>
            <div class="flex-grid">
                <div class="col">
                    <table st-table="clientCollection" st-safe-src="rowCollection" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Número de Identificación</th>
                                <th>Cantidad de Productos</th>
                                <th>Importe Original</th>
                                <th>Canales Usados Mes</th>
                                <th>Valor de Negocio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of clientCollection">
                                <td (click)="showComplaintClient(row.NUMERO_IDENTIFICACION)">{{row.NOMBRES}}</td>
                                <td>{{row.NUMERO_IDENTIFICACION}}</td>
                                <td>{{row.CANTIDAD_PRODUCTOS}}</td>
                                <td>{{row.IMPORTE_ORIGINAL | currency: '$ '}}</td>
                                <td>{{row.CANALES_USADO_MES}}</td>
                                <td>{{row.VALOR}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>