/* You can add global styles to this file, and also import other style files */

.header {
    display: flex;
    background-color: midnightblue;
    color: white;
    font-size: xx-large;
    padding: 0.5em;
    margin-bottom: 1em;
}

.mainContainer {
    margin: 15px;
}

h1 {
    margin-bottom: 1em;
}

ul {
    margin-bottom: 2em;
}